body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.section {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: center;
  padding: 20px;
  transition: transform 0.3s ease-out; /* Transition for transform effect */
  text-align: center;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeIn 2s;
}

.section p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section.left {
  background-color: #f8b400;
  color: #333;
}

.section.middle {
  background-color: #34a853;
}

.section.right {
  background-color: #4285f4;
}

/* Unique animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Media queries */
/* @media (max-width: 768px) {
  body, html {
    overflow: auto;
  }

  .container {
    flex-direction: column;
    height: auto;
    scroll-snap-type: y mandatory; /* Adjusted for vertical scrolling */
  }

  .section {
    flex: 0 0 auto;
    height: 100vh;
    scroll-snap-align: start;
  }
} */
